		body {
			background: #f9f9f9;
			}
/*		.wrapper {
			border-left: 2px solid #e2e2e2;
			border-right: 2px solid #e2e2e2;
			background: #ffffff;
			margin: 0 auto;
			padding: 50px 49px 60px 60px;
			height: auto;
			width: 1060px;
			}*/
		.wrapper {
			width: 1060px;
			margin: 0px auto;
			padding: 0 20px;
			box-shadow:
				0 1px 4px rgba(0, 0, 0, .3),
				-23px 0 20px -23px rgba(0, 0, 0, .8),
				23px 0 20px -23px rgba(0, 0, 0, .8),
				0 0 40px rgba(0, 0, 0, .1) inset;
		}
		.logo {
			font-size: 36px;
			color: #323232;
			font-family: "Cambria";
			padding: 41px 0;
		}
		.logo:first-letter {
			color: #242424;
			font-size: 40px;
			}

		/* MENU */

		.menu{
			position: relative;
			overflow: hidden;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e5e5e+0,454444+97,454444+98,454444+98,454444+98,454444+99,454444+99,454444+100,454444+100,454444+100,454444+100,454444+100,454444+100,454444+100,454444+100,454444+100,454444+100,454444+100 */
background: #5e5e5e; /* Old browsers */
background: -moz-linear-gradient(top,  #5e5e5e 0%, #454444 97%, #454444 98%, #454444 98%, #454444 98%, #454444 99%, #454444 99%, #454444 100%, #454444 100%, #454444 100%, #454444 100%, #454444 100%, #454444 100%, #454444 100%, #454444 100%, #454444 100%, #454444 100%, #454444 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #5e5e5e 0%,#454444 97%,#454444 98%,#454444 98%,#454444 98%,#454444 99%,#454444 99%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #5e5e5e 0%,#454444 97%,#454444 98%,#454444 98%,#454444 98%,#454444 99%,#454444 99%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%,#454444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#454444',GradientType=0 ); /* IE6-9 */
;
		}
		.menu li{
			float: left;
			height: 40px;
			}
		.menu a{
			display: inline-block;
			color: #ffffff;
			font-size: 14px;
			line-height: 40px;
			padding: 0 40px;
			text-decoration: none;
			font-family: Tahoma;
			}
		.menu a:hover{
			background-color: #383838;
			border-left: 1px solid #838383;
			border-right: 1px solid #838383;
			border-style: hidden;
			}
		/*.menu li:first-child{
			padding-left: 25px;
			padding-right: 64px;
			}
		.menu li:nth-child(2){
			padding-left: 23px;
			padding-right: 23px;
			}
		.menu li:nth-child(3){
			padding-left: 63px;
			padding-right: 63px;
			}
		.menu li:last-child{
			padding-left: 23px;
			padding-right: 463px;
			}
		.Indent {
			padding-bottom: 40px;
		}*/

		/* SIDEBAR */

		.Middle{
			position: relative;
			overflow: hidden;
			padding-top: 40px;		
		}
		.Sidebar{
			float: left;
			width: 240px;
		}
		.Left_menu {
			float: left;
			width: 240px;
		}
		.Left_menu li{
			border: 1px solid #838383;
			background-color: #ffffff;
		}
		.Left_menu a{
			padding-left: 25px;
			line-height: 37px;
			text-decoration: none;
			color: #656363;
			font-size: 12px;
			font-family: "Tahoma";
		}
		.Left_menu a:hover{
			color: #2c2c2c;
			background-color: #f9f9f9;
			padding-left: 35px;
		}

		/* CONTENT */

		.Content{
			float: right;
			width: 677px;
		}
		.image{
			border: 1px solid #c8c8c8;
		}
		.Lorem{
			font-size: 13px;
			color: #2c2c2c;
			padding: 30px 0 0 22px;
			line-height: 21px;
		}
		
		/*FOOTER*/
		
		.Footer{
			padding: 50px 0;
		}
		.Footer_menu{
			position: relative;
			overflow: hidden;
			background-color: #e1e1e1;
		}
		.Footer_menu li{
			float: left;
			list-style: none;
			margin: 0 auto;
			line-height: 30px;
			}
		.Footer_menu a{
			display: block;
			color: #2c2c2c;
			padding: 0 50px;
			font-size: 14px;
			text-decoration: none;
			font-family: Tahoma;
			}
		.Footer_menu a:hover {
			color: #2c2c2c;
			font-family: times; 
			text-decoration: underline;
			}
		.Footer_menu .copy{
			float: 	right;
			padding-right: 25px;
			}
		.footer:after {
			display: block;
			content: ' ';
			clear: both;
			}
			