.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.clock {
	height: 150px;
	width: 960px;
	border: 15px solid #000;
	border-radius: 100px;
	margin: 150px auto;
	background: grey;
	text-align: center;
	padding-bottom: 20px;
	font-size: 130px;
}

.clock span {
	font-size: 80px;
}

#startPause, #reset {
	padding: 20px 0;
	display: block;
	width: 450px;	
	border: 15px solid black;
	border-radius: 100px;
	font-size: 100px;
	font-weight: bold;
}

.leftBtn {
	float: left;
}

.rightBtn {
	float: right;
}

.leftBtn button {
	background: green;
}

.leftBtn button:hover {
	background: lightgreen;
}

.rightBtn button {
	background: red;
}

.rightBtn button:hover {
	background: orange;
}
