	body {
		background: #0c739f;
		background-image: url(../img/fon.jpg); 
		background-repeat: repeat-x;
		}
	
		.wrapper{
			margin: 0 auto;
			max-width: 1000px;
			height: auto;
			box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.75);
			background: #f9f9f9;
		}

		/*HEADER*/

		.header{
			background-color: #ffffff;
		}
		.logo{
			padding-left: 28px;
			padding-top: 8px;
			float: left;
		}
		.logo:after{
			display: block;
			content: '';
			clear: both;
		}
		.requisites{
			float: right;
			margin: 10px 34px 30px 300px; 
			color: #5fa5bb;
			}
		.our_contacts{
			line-height: 25px;
		}
		.countries{
			float: right;
			padding-right: 25px;
			padding-bottom: 10px;
		}
		.countries:after{
			display: block;
			content: '';
			clear: both;
		}		
		.countries li{
			display: inline-block;
			list-style: none;
			text-align: center;
			font-size: 10px;
			font-family: Tahoma;
		}
		.countries img{
			display: block;
		}


		/*MENU*/
			
		.menu{
			font-family: Arial;
			list-style: none;
			background:  linear-gradient(to bottom, #373737, #303030);
			-webkit-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
			box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.75);
		}
		.menu li{
			list-style: none;
			float: left;
			line-height: 28px;
		    position: relative;
		    font-size: 14px;
		}
		.menu  a{
			padding: 0 32px;  
			display: block;
			color: white;
			text-decoration: none;
			color: white;
		}
		.submenu{
			display: none;
			position: absolute;	
			border-top: 1px solid black;
			top: 100%;
			width: 100%	;
			left: 0:;
			color: #d5d5d5;
			line-height: 29px;
			background:  #303030;
			box-shadow:0px 5px 15px 1px rgba(0,0,0,0.75);
			z-index: 	1;
		}
		.menu li:hover .submenu{
			display: block;
		}
		.menu:after{
			content: '';
			clear: both;
			display: block;
			width: 100%;
			line-height: 0;
		}

		/*CONTENT*/

		.content {
			position: relative;
			overflow: 	hidden;
			width: 1000px;
			background: white;
			}
		.content:after {
			content: '';
			clear: both;
			display: block;
		}
		.content p {
			padding: 0 15px;
			color: #424c43;
		}
		.headline {
			text-align: center;
			line-height: 30px;
			font-weight: bold;
			font-family: Arial;
			color: #424c43;
		}
		.left{
			width: 210px;
			float: left;
			background: #edeef0;
			/*padding-bottom: 20000px;
			margin-bottom: -20000px;*/

		}
		.centre{
			width: 578px;
			float: left;
			border-left: 1 solid #c7cacf;
			border-right: 1 solid #c7cacf;
			background: #ffffff;
			/*padding-bottom: 20000px;
			margin-bottom: -20000px;*/			
		}
		.right: {
			width: 210px;
			float: left;
			background: #edeef0;
			/*padding-bottom: 20000px;
			margin-bottom: -20000px;*/
		}
	
		/*FOOTER*/

		.footer{
			text-align: center;
			font-family: Arial;
			font-size: 14px;
			line-height: 50px;
			color: #dee7ee;
		}