
body {
  background:#DCDCDC;
}

.wrapper {
  margin:0 auto;
  position:relative;
  width:50%;
  height:450px;
  background:#fff;
  border:1px solid black;
  padding-left:70px;
}

h3 {
  width:50%;
  text-align:center;
  margin:20px;
}

  li:first-child {
  marrgin-top:50px;
}