/*CSS for custom checkbox*/
form {
    margin: 50px;
    background: #99CCFF;
    padding: 10px;
}

div {
	margin-bottom: 10px;

}

.css_checkbox {
	position: relative;
	overflow: hidden;
}

label {
	cursor: pointer;
}

input[type=checkbox] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.css_checkbox label:after {
	content: " ";
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/checkbox-sprite.png);
}

input[type=checkbox]:checked + 
label:after {
	background-position: 0 -17px;
}

.test3 label:after {
	opacity: .5;
}

/*CSS for JQuery checkbox*/

.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox-sprite.png);
}

.niceCheck input {
	display: none;
}
.niceChecked {
	background-position: 0 -17px;
}
.niceCheck input {
	margin-left: -100px;
}
.niceCheckDisabled {
	opacity: .5;
}

 

/*http://zaurmag.ru/priyatny-e-poleznosti-dlya-sajta/gorizontal-noe-mnogourovnevoe-menyu-na-css-s-e-ffektom-animatsii.html*/
/*http://webcomplex.com.ua/html/mnogourovnevoe-gorizontalnoe-menyu-na-html-i-css.html*/
/*   NAVBAR   */
/*CSS for #mainmenu*/
nav {
    height: 40px;
    margin: 50px;
    padding: 10px 0;
    background-color: rgb(255,100,100);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(50,50,50);
}

nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(50,50,50);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.dropdown {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

/* style sub level links */
nav li li a {
    
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/*
 LEVEL ONE
 */
ul.dropdown {
    position: relative;
}

ul.dropdown li {
    width: 190px;
    font-weight: bold;
    float: left;
    zoom: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;   
    margin:1px;
    text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

ul.dropdown a:hover,
ul.dropdown a:focus,
ul.dropdown a:active {
    color: rgb(50,50,50);
}

ul.dropdown li a {
    display: block;
    padding: 4px 8px;
    color:rgb(50,50,50);
    text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

ul.dropdown li:last-child a {
    border-right: none;
}
 /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover {
    color: black;
    position: relative;
    color:rgb(50,50,50);
}

ul.dropdown li.hover a {
    color:rgb(50,50,50);
    font-weight:bold;
}

/*
 LEVEL TWO
 */
ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 25%;
}

ul.dropdown ul li {
    font-weight: normal;
    background-color:rgb(225,75,75);
    color:rgb(50,50,50);
    float: none;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border-right: none;
    width: 100%;
    display: inline-block;
}

/*
 LEVEL THREE
 */
ul.dropdown ul ul {
    left: 80%;
    top: 0;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}






