    form {
        margin: 100px;
    }
    .films {
        width: 180px;
    }
    .lineForm {
        margin-bottom: 20px;
    }

    /* стили для примера: выравнивание label, селекты на в одну строку */
/*    .lineForm,
    .lineForm3 {
        float: left;
        width: 100%;
        zoom: 1;
    }
    * html .lineForm,
    * html .lineForm3 {
        float: none;
        width: auto;
    }
    label {
        float: left;
        position: relative;
        top: 5px;
        margin-right: 5px;
    }
    .cusel {
        float: left;
        margin-right: 10px;
    }*/